body {
    background-color: #F8E8A6;
    text-align: center;
}


a {    
    text-decoration: underline;
}

a:hover {
    cursor: pointer;
}

img {
    max-width: 80%;
    border-radius: 10px;
    display: block;
    margin: 30px auto;
}

.intern-links {
    margin: 0 10px;
    color: #008000;
}

